body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > div {

        flex-basis: 60%;
    }
}

#root {
    display: flex;
    justify-content: center;
}

.delete-button {
    border: none;
    background-color: white;
}

.task-done {
    margin-left: 1em;
    margin-right: 1em;

}

.new-task-button {
    border: none;
    background-color: white;
    margin-left: .3em;
}

.task-list-item {
    margin-top: .2em;
}
